<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>774657796898-g0p725jc6k68iq1s6bvcud0t4v4qfoi4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.774657796898-g0p725jc6k68iq1s6bvcud0t4v4qfoi4</string>
	<key>API_KEY</key>
	<string>AIzaSyB55N1ir5ReyUm-vzb6b9OEU2n7im9i07E</string>
	<key>GCM_SENDER_ID</key>
	<string>774657796898</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.foodzik</string>
	<key>PROJECT_ID</key>
	<string>foodzik-61d17</string>
	<key>STORAGE_BUCKET</key>
	<string>foodzik-61d17.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:774657796898:ios:213bc0ee7198deadb8537b</string>
</dict>
</plist>